@charset "UTF-8";
@font-face {
  font-family: "myFont";
  src: url(../fonts/Harenosora.otf); }
/* 共通部分 */
html {
  font-family: 'Oswald', sans-serif;
  font-weight: bold; }

p {
  color: #3e3646; }

h1,
h2,
h3,
p,
div,
nav,
ul,
li,
body {
  margin: 0;
  padding: 0; }

body {
  background-color: #eeeeee; }

li {
  list-style: none; }

a {
  text-decoration: none;
  outline: none;
  color: #3e3646; }

img {
  width: 100%; }

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 20px 80px 20px; }

header {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: #552480;
  position: fixed;
  z-index: 999; }
  header .title {
    align-items: center;
    display: flex;
    margin-left: 10px; }
    header .title .header-logo {
      width: 45px;
      padding-right: 10px; }
    header .title h1 {
      font-family: "myFont";
      font-weight: bold;
      font-size: 22px;
      color: #ffffff; }
  header .navigation {
    margin: 0 auto;
    display: flex;
    max-width: 720px;
    align-items: center; }
    header .navigation a {
      padding: 5px 10px;
      transition: all 0.2s;
      padding-left: 13px;
      font-size: 22px;
      font-family: 'Teko', sans-serif;
      color: #ffffff;
      display: inline-block; }
      header .navigation a:hover {
        color: #ffe730; }

footer {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #222; }
  footer p {
    color: #ffffff; }
  footer .copyright {
    padding: 8px 8px 16px 8px;
    font-size: 14px; }

.block-table {
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  margin: 0 auto;
  width: 720px; }
  .block-table tr {
    border-bottom: 1px solid #ccc;
    font-size: 20px; }
    .block-table tr th {
      width: 7em; }
    .block-table tr td {
      padding: 20px 0;
      font-weight: 500; }

.news-list_block {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px; }
  .news-list_block .news-list_item {
    box-sizing: border-box;
    transition: all 0.5s 0s ease;
    text-align: left;
    background-color: #ffffff;
    padding: 18px 20px 18px 20px;
    display: block;
    position: relative;
    color: #151515;
    border-bottom: 1px solid #b7b7b7; }
    .news-list_block .news-list_item:last-child {
      border-bottom: none; }
    .news-list_block .news-list_item time {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      font-size: 14px;
      font-family: 'Teko', sans-serif;
      font-weight: bold;
      color: #7b7b7b;
      margin-bottom: 8px;
      line-height: 1; }

.team-logo {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 24px; }

#slider {
  width: 100%;
  height: 95vh;
  /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  opacity: 0.8; }

.bg-slider {
  background-color: black; }
  .bg-slider .intoroduction {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    color: #ffffff;
    margin: 0 auto;
    z-index: 1;
    font-family: "myFont";
    font-size: 2rem; }

.member-title {
  font-size: 32px; }
  .member-title span {
    font-size: 20px;
    margin-left: 10px; }
  .member-title::after {
    content: "";
    width: 110px;
    background-color: #8e2070;
    width: 80px;
    height: 5px;
    display: block;
    margin-top: 8px; }

.member-box {
  padding: 10px;
  display: flex;
  flex-wrap: wrap; }
  .member-box .member-item {
    padding: 10px;
    margin: 10px;
    max-width: 170px;
    color: #3e3646;
    font-family: "Teko", sans-serif;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 24px; }
    .member-box .member-item .member-icon {
      object-fit: cover;
      width: 100%;
      height: 240px; }
    .member-box .member-item .member-text {
      display: flex;
      align-items: center;
      line-height: 1;
      padding: 4px 4px; }
      .member-box .member-item .member-text .member-number {
        font-size: 3rem;
        text-align: left;
        padding-right: 4px; }
      .member-box .member-item .member-text .member-name {
        font-size: 20px;
        margin: 0 auto; }

.page-title {
  background-image: url(../img/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  padding-top: 80px; }
  .page-title::before {
    content: '';
    /* ↓暗いオーバーレイを半透明で配置 */
    background-color: rgba(0, 0, 0, 0.4);
    /* ↓全体を覆うように配置 */
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px; }
  .page-title h2 {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center; }

.block {
  margin: 0 auto;
  width: 100%;
  text-align: center; }
  .block#team, .block#partner {
    background-color: #ffffff; }
  .block h2 {
    font-family: 'Teko', sans-serif; }
  .block .link {
    transition: all 0.2s; }

.index {
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 3.2rem;
  margin: 0 auto;
  padding-bottom: 32px; }

.subtitleBox {
  text-align: center; }
  .subtitleBox-text {
    font-size: 20px;
    letter-spacing: 1px; }

.sponser-list {
  display: flex;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  justify-content: space-between; }
  .sponser-list .sponser-box {
    border-color: #222;
    border-width: 1; }
    .sponser-list .sponser-box .sponser {
      align-items: center;
      width: 400px;
      height: 200px;
      object-fit: cover; }
    .sponser-list .sponser-box .sponser-title {
      font-size: 1rem;
      font-weight: 100;
      text-align: center;
      padding-top: 16px;
      padding-bottom: 24px; }

.sns {
  display: flex;
  justify-content: space-between;
  width: 880px;
  margin: 0 auto; }
  .sns .instagram,
  .sns .twitter {
    padding-bottom: 30px;
    width: 400px;
    text-align: center;
    color: #ffffff; }
    .sns .instagram p,
    .sns .twitter p {
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 8px; }

/*# sourceMappingURL=style.css.map */
